# POSTGRES
POSTGRES_USER=squarely_admin
POSTGRES_PASSWORD=Squarely007$
POSTGRES_DB=squarely_db

# Nest run locally
DB_HOST=localhost
# Nest run in docker, change host to database container name
# DB_HOST=postgres
DB_PORT=5432
DB_SCHEMA=squarely_db

# Prisma database connection
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?schema=${DB_SCHEMA}&sslmode=prefer

# Nest
PORT=3002

# Security
JWT_ACCESS_SECRET=Squarely007$
JWT_REFRESH_SECRET=Squarely007$

## Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# KeyCloack
AUTHSERVERURL=http://localhost:8080/auth
REALM=master
CLIENTID=SQUARELY_BACKEND
KEYCLOAK_ADMIN=admin
KEYCLOAK_PWD=Pa55w0rd
SECRET=lM8UNTS8ppdJo61rp73niqWhj0Yrr9V2

# KAFKA
KAFKA_BROKER=localhost:9092

SALT=Squarely_SALT

# mail
MAIL_HOST=smtp.example.com
MAIL_USER=user@example.com
MAIL_PASSWORD=topsecret
MAIL_FROM=noreply@example.com

# optional
MAIL_TRANSPORT=smtp://${MAIL_USER}:${MAIL_PASSWORD}@${MAIL_HOST}
